html {
    background-image: url("/public/FB_IMG_1661874097529.jpg");
    background-blend-mode:darken;
    /* background-image: url("/public/FB_IMG_1634827650813.jpg");
    background-blend-mode: luminosity; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;
    background-size: contain;
    background-color: #DCEDF9;
}
h1 {
    font-size:50px;
}

h4 {
    font-size:30px;
}

tr {
    text-decoration: none;
}
td {
    color: #353558;
    width: 200px;
    font-size: 18px;
    text-align: center;
    border:ridge 7px;
    border-color: #3BC6A7;
    background-color: #DCEDF9;
    margin:0px;
    padding:0px;
}

.create-log {
    position:absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display:flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Shadows Into Light Two', cursive;
}
.input-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}
.input-center {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 500px;
}
.input-right {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width:200px
}
.component {
    width: 167px;
}
.log-name {
    display: flex;
    justify-content: center;
    margin-top: 21.440px;
}
.all-logs {
    justify-content: center;
    margin:auto;
}
.all-logs :hover {
    background-color: #3BC6A7;
}
.image-container {
    display: flex;
    justify-content: center;
    
}
.component-image {
    width:200px;
    height:175px;
}
.title {
    text-align: center;
    font-family: 'Covered By Your Grace', cursive;
    color: #353558;
    text-shadow: 2px 2px 2px  #3BC6A7
}
ul {
    display: flex;
    justify-content: center;
}
input,textarea, select{
    border: ridge 3px #3BC6A7   ;
}
.tnumber {
    width: 155px;
}
.nav {
    font-family: 'Shadows Into Light Two', cursive;
}
/* .home-image {
    display: flex;
    margin:auto;
    background-size: contain;
    background-color: #DCEDF9;
    background-blend-mode:color-dodge;
} */